<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупки</title>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="div_main" class="main">
    <div>
        <h2>Список покупок</h2>
        <table id="table_list" class="table">
            <tr>
                <th>Название</th>
                <th>Состояние</th>
                <th colspan="2">Действия</th>
        </table>
    </div>
    <br>
    <h2>Добавить новый продукт</h2>
    <form method="post">
        <input name="name"/>
        <input type="checkbox" name="bought"/>
        <button id="button_add">Добавить</button>
    </form>
</div>
</body>
</html>


